@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital@1&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Bodoni Moda', serif;
}
body{
    height: 100vh;
    background: linear-gradient(rgba(15, 15, 15, 0.5),rgba(15, 15, 15, 0.5)),url(bday.gif);
    background-position:left;
    background-repeat: repeat;
    background-size:cover;
    color: rgb(192, 127, 65);
    
}
.container{
    perspective: 1000px;
    width: 80%;
    height: 30%;
    float:left;
    
}
.card{
    width: 280px;
    height: 290px;
    position: absolute;
    nav-down: 500px;
    right: 750px;
    transition:5s ;
    transform-style: preserve-3d;
}
.card:hover{
    transform: rotateY(180deg);
    
}
.block{
    position:absolute;
    nav-down:400px;
    left: 800px;
    perspective: 800px;
    text-align: center; 
    
}
.outside,.inside{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    text-align: center;
    padding: 1.5rem;
    
    
}
.outside{
    background-color: rgb(145, 93, 15);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    position: absolute;
    backface-visibility: hidden;
    float: left;
}
.outside h1{
    font-size: 3rem;
    font-weight: bold;
    color: rgb(4, 43, 102);
    margin-bottom: 30px;
}
.inside{
    background-color: rgb(122, 43, 12);
    box-shadow: inset 0 5px 10px rgba(0,0,0,0.5);
    transform: rotateY(180deg);
    backface-visibility: hidden;
    position: absolute;
    transition: 5s;
}
.inside h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 20px;
}
.image{
    width:4cm;
    height:4cm ;
    
}
.frames{
    width: 400px;
    height: 150px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.5);
    display: flex;
    align-items:center;
    justify-content: space-around;
    padding: 0 0.8rem;
    
    
    position: absolute;
}

.frames img{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
}
.frames p{
   font-size: 20px;
   font-weight: bold;
   transform: rotateY(180deg);
   
   
   
}
.frames1
{
    top:-110px;
    z-index: -1;
    background-color: rgba(32, 23, 3, 0.61);
    width: 400px;
    height: 200px;
    
}
.frames2{
    top:-110px;
    z-index: -1;
    background-color: rgb(243, 219, 159);
    
    
}
.frames3
{
    top: -110px;
    z-index:-1;
    right:100px;
    background-color: rgb(245, 200, 111);
   
    
    
} 